version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'saturday'
      time: '06:00'

    ignore:
      - dependency-name: '@types/node'
        update-types:
          - 'version-update:semver-major'

    groups:
      all:
        patterns:
          - '*'
