AUTH_GITHUB_ID="placeholder"
AUTH_GITHUB_SECRET="placeholder"
AUTH_SECRET="placeholder"
DATABASE_URL="placeholder"
DATABASE_URL_UNPOOLED="placeholder"
NEON_PROJECT_ID="placeholder"
PGDATABASE="placeholder"
PGHOST="placeholder"
PGHOST_UNPOOLED="placeholder"
PGPASSWORD="placeholder"
PGUSER="placeholder"
PLAYWRIGHT_BASE_URL="placeholder"
POSTGRES_DATABASE="placeholder"
POSTGRES_HOST="placeholder"
POSTGRES_PASSWORD="placeholder"
POSTGRES_PRISMA_URL="placeholder"
POSTGRES_URL="placeholder"
POSTGRES_URL_NON_POOLING="placeholder"
POSTGRES_URL_NO_SSL="placeholder"
POSTGRES_USER="placeholder"
VERCEL_OIDC_TOKEN="placeholder"
